@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

*
{
    box-sizing: border-box;
}

body
{
    width: 40%;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Sofia Sans', sans-serif;
    position: relative;
}

h1
{
    text-align: center;
    color: red;
    font-size: 4em;
    font-style: italic;
}

img
{
    border-radius: 8px;
    margin: 0 auto;
    width: 100%;
}

ul li
{
    list-style-type: none;
    font-size: 2em;
    position: relative;
    left: 250px;
    line-height: 1.5;
    
}

ul li a
{
    text-decoration: none;
    color: red;
    font-style: italic;
}

ul li a:hover
{
    background-color: rgb(175, 73, 73);
    border: 5px;
}

footer
{
position: absolute;
right: 10px;
bottom: 80px;
}